<!-- 
	Put the skeleton HTML for your Application here
	DO NOT include <html>, <head>, or <body> tags
	
	Create a separate template for any repeatable components
-->

<div>

    <!-- core application skeleton html/Display after Login/Registration/Home Page of Application -->
    <script type="text/template" id="template_app">
        <header>
            <img src="images/logo.png" alt="Eygenda Logo">
            <h1>Eygenda</h1>

            <h2>Project Manager</h2>
            <div id="logout">
                <a href="main.html">Logout</a>
            </div>

        </header>

        <div id="projects">
            <h3>Current Projects</h3>
            <button id="add_project_btn" type="submit" value="Submit">Add Project</button>
        </div>

        <div id="projectname">
            <ul>
                <li>
                    <label class="projectName">{{=projectName}}</label>
                </li>
                <li>
                    <label class="description">{{=description}}</label>
                </li>
            </ul>
            <br>
            <ul class="dueDate">
                <li>
                    <label id="due_date">{{=dueDate}}</label>
                    <input type="date" name="date" id="date" class="required date" placeholder="MM/DD/YYYY"/>
                    <label class="reqs" id="date_req"></label>
                </li>
            </ul>
            <ul class="status">
                <li>
                    <label id="status">{{=status}}</label>
                    <select>
                        <option value="select">Select from Drop Down</option>
                        <option value="urgent">Urgent</option>
                        <option value="normal">Normal</option>
                        <option value="delayed">Delayed</option>
                        <option value="finished">Finished</option>
                    </select>

                </li>
            </ul>

            <div id="taskLink"><b><a href="task_page.html">Tasks</a></b>
                <br>
                <ul>
                    <li class="colorSelector">
                        <select>
                            <option value="color1" style="background: forestgreen"></option>
                            <option value="color1" style="background: red"></option>
                            <option value="color2" style="background: yellow"></option>
                            <option value="color3" style="background: deepskyblue"></option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>

        <footer>Copyright 2014 | Jennifer Brown | Programming for Web Applications II | All Rights Reserved </footer>


    </script>

    <!-- repeatable html for new project window -->
    <script type="text/template" id="template_project_view">

        <header>
            <img src="images/logo.png" alt="Eygenda Logo">
            <h1>Eygenda</h1>
            <h2></h2>

            <div id="logout">
                <a href="main.html">Logout</a>
            </div>


        </header>
        <div id="projects">
            <h3>Add A New Project</h3>
        </div>

        <div id="newProject">

            <form id="projectform" name="projectform" method="post">
                <ul>
                    <li class="form">
                        <label id="#proj_name">Project Name</label>
                        <input type="text" name="projectname" id="proj_name" class="words required" placeholder="Name for your project goes here"/>
                        <label class="reqs" id="projectname_req"></label>
                        <span class="errors" id="projectname_error"></span>
                    </li>
                    <li class="form">
                        <label id="desc_name">Description</label>
                        <input type="desc" name="desc" id="description" class="words required" placeholder="Place a short description of your task here"/>
                        <label class="reqs" id="desc_req"></label>
                        <span class="errors" id="desc_error"></span>
                    </li>
                    <li class="form">
                        <label id="due_date">Due Date:</label>
                        <input type="date" name="date" id="date" class="required date" placeholder="MM/DD/YYYY"/>
                        <label class="reqs" id="date_req"></label>
                        <span class="errors" id="date_error"></span>
                    </li>
                    <li class="form">
                        <label id="status">Status:</label>

                        <select>
                            <option>Select from Drop Down</option>
                            <option>Urgent</option>
                            <option>Normal</option>
                            <option>Delayed</option>
                            <option>Finished</option>
                        </select>
                    </li>

                </ul>
            </form>

            <div id="newProjectBtns">
                <button type="submit" value="Submit" id="cancel">Cancel</button>
                <button type="submit" value="Submit" id="finish">Finish</button>
            </div>

        </div>



        <footer>Copyright 2014 | Jennifer Brown | Programming for Web Applications II | All Rights Reserved </footer>

    </script>

    <!-- repeatable html for task menu page -->
    <script type="text/template" id="template_task_link">
        <header>
            <img src="images/logo.png" alt="Eygenda Logo">
            <h1>Eygenda</h1>

            <h2>Task Manager</h2>
            <div id="logout">
                <a href="main.html">Logout</a>
            </div>

        </header>

        <div id="tasks">
            <h3>Current Tasks</h3>
            <button type="submit" value="Submit">Add Task</button>
        </div>


        <div id="taskname">
            <ul>
                <li>
                    <label class="taskName">{{=name}}</label>
                </li>
                <li>
                    <label class="description">{{=description}}</label>
                </li>
            </ul>
            <br>
            <ul class="dueDate">
                <li>
                    <label id="dueDate">{{=dueDate}}</label>
                    <input type="date" name="date" id="date" class="required date" placeholder="MM/DD/YYYY"/>
                    <label class="reqs" id="date_req"></label>
                </li>
            </ul>
            <ul class="status">
                <li>
                    <label id="status">Status:</label>
                    <select>
                        <option value="select">Select from Drop Down</option>
                        <option value="urgent">Urgent</option>
                        <option value="normal">Normal</option>
                        <option value="delayed">Delayed</option>
                        <option value="finished">Finished</option>
                    </select>

                </li>
            </ul>

            <div id="taskLink"><a href="project_page.html">Back to Project</a>
                <br>
                <ul>
                    <li class="colorSelector">
                        <select>
                            <option value="color1" style="background: forestgreen"></option>
                            <option value="color1" style="background: red"></option>
                            <option value="color2" style="background: yellow"></option>
                            <option value="color3" style="background: deepskyblue"></option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>

        <footer>Copyright 2014 | Jennifer Brown | Programming for Web Applications II | All Rights Reserved </footer>

    </script>

    <!-- repeatable html for new task information -->
    <script type="text/template" id="template_task_view">
        <header>
            <img src="images/logo.png" alt="Eygenda Logo">
            <h1>Eygenda</h1>

            <h2></h2>
            <div id="logout">
                <a href="main.html">Logout</a>
            </div>

        </header>
        <div id="tasks">
            <h3>Add A New Task</h3>
        </div>


        <div id="newTasks">


            <form id="taskform" name="taskform" method="post">
                <ul>
                    <li class="form">
                        <label id="task_name">{{=taskName}}</label>
                        <input type="text" name="taskname" id="taskname" class="words required" placeholder=""/>
                        <label class="reqs" id="taskname_req"></label>
                        <span class="errors" id="taskname_error"></span>
                    </li>
                    <li class="form">
                        <label id="description">{{=description}}</label>
                        <input type="desc" name="desc" id="description" class="words required" placeholder="Description"/>
                        <label class="reqs" id="desc_req"></label>
                        <span class="errors" id="desc_error"></span>
                    </li>
                    <li class="form">
                        <label id="dueDate">{{=dueDate}}</label>
                        <input type="date" name="date" id="date" class="required date" placeholder="MM/DD/YYYY"/>
                        <label class="reqs" id="date_req"></label>
                        <span class="errors" id="date_error"></span>
                    </li>
                    <li class="form">
                        <label>Project Status</label>

                        <select>
                            <option value="select">Select from Drop Down</option>
                            <option value="urgent">Urgent</option>
                            <option value="normal">Normal</option>
                            <option value="delayed">Delayed</option>
                            <option value="finished">Finished</option>
                        </select>
                    </li>

                </ul>


            </form>

            <div id="newTaskBtns">
                <button type="submit" value="Submit" id="cancel">Cancel<button>
                <button type="submit" value="Submit" id="finish">Finish</button>
            </div>

        </div>

        <footer>Copyright 2014 | Jennifer Brown | Programming for Web Applications II | All Rights Reserved </footer>


    </script>

    <!-- repeatable html for registration page -->
    <script type="text/template" id="template_registration_view">
        <header>
            <img src="images/logo.png" alt="Eygenda Logo">
            <h1>Eygenda</h1>

            <h2>Project and Task Manager Registration Page</h2>
        </header>

        <div id="registration">
            <form id="regform" name="regform" method="post">
                <ul>
                    <li class="form">

                        <input type="text" name="username" id="user" class="words required" placeholder="Username" required/>
                        <label class="reqs" id="username_req"></label>
                        <span class="errors" id="username_error">Example: John Doe, Jane Doe</span>
                    </li>
                    <li class="form">
                        <input type="password" name="password" id="pass" class="password words required" placeholder="Password"/>
                        <label class="reqs" id="password_req"></label>
                        <span class="errors" id="password_error"></span>
                    </li>
                    <li class="form">
                        <input type="text" name="email" id="email" class="required email" placeholder="Email Address"/>
                        <label class="reqs" id="email_req"></label>
                        <span class="errors" id="email_error">Example: user@domain.com</span>
                    </li>

                </ul>

            </form>

            <div id="note">
                <h1 class="completer">
                    All Most Done! Please fill in the Form to the left then click Finish to get started arranging your projects and tasks!</h1>

                <button id="submit_btn" type="submit" value="Submit">Register</button>

            </div>
        </div>

        <footer>Copyright 2014 | Jennifer Brown | Programming for Web Applications II | All Rights Reserved </footer>


    </script>


    <!-- more component templates here if needed-->

</div>