<!--
	Put the skeleton HTML for your Landing page here
	DO NOT include <html>, <head>, or <body> tags

	(don't remove the parent div)
-->


<div>
    <script type="text/template" id="template_landing">

        <header>
            <img src="images/logo.png" alt="Eygenda Logo">
            <h1>Eygenda</h1>

            <h2>Project and Task Manager</h2>
        </header>

        <div id="preview">
            <img id="CTA" alt="" src="images/CTA.png">
        </div>

        <div id="login">
            <fieldset>
                <h3>Already Registered, Log In Here</h3>
                <input type="text" name="username" id="username" placeholder="Username">
                <input type="password" name="pwd" placeholder="Password">
                <button type="submit" value="Submit"><a href="project_page.html">Log In</a></button>
            </fieldset>
        </div>

        <div id="projectDelivery">

            <p>Project Delivery</p>
            <ul>
                <li>Set Due Dates</li>
                <li>Prioritize Project Tasks</li>
                <li>On Time, Every time</li>
            </ul>
        </div>

        <div id="incProductivity">
            <p>Maximize Output</p>
            <ul>
                <li>Organize tasks</li>
                <li>Increase Workflow</li>
                <li>Milestones completed</li>
                <li>Proper Time Management</li>
            </ul>
        </div>

        <div id="easyPreparation">
            <p>Easy Preparation</p>
            <ul>
                <li>Click to add a project</li>
                <li>Add tasks to projects</li>
                <li>Check Complete when Done</li>
            </ul>
        </div>

        <div id="register">
            <h4>Eygenda Sound Enticing!  Register Here For Free!</h4>
            <button type="submit" value="Submit" id="submit"><a href="registration_page.html">Register</a></button>
        </div>

        <footer>Copyright 2014 | Jennifer Brown | Programming for Web Applications II | All Rights Reserved </footer>

    </script>
</div>